#outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {

}

#game {
  
}

#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 0.2px solid black;
  font-size: 1rem;
  background-color: white;
}

.clicked-tile {
  background-color: rgb(201, 199, 199);
}

.tile:hover {
  cursor: pointer;
}